<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="PATTERN"
              value="%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) |-%-5level [%thread] %c [%L] -| %msg%n"/>

    <springProperty scope="system" name="appLogRootDir"
                    source="appLogRootDir" defaultValue="./logs"/>

    <!--输出到控制台-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <!--输出到文件-->
    <appender name="ROOT_LOG_FILE_APPENDER"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 文件路径 -->
        <file>${appLogRootDir}/root.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${appLogRootDir}/root_%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>20MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <!--默认logger-->
    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ROOT_LOG_FILE_APPENDER"/>
    </root>

</configuration>
